<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.onsip.sipjs" version="0.6.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>sip.js</name>
    <js-module name="sipjs" src="src/SIP.js" />

    <!-- This is the line that makes require('../package.json') work -->
    <!-- TODO change src to "package.json" once Cordova is released with
         https://github.com/apache/cordova-lib/pull/71
    -->
    <js-module name="/package.json" src="cordova_package.json.js" />

    <js-module name="Utils" src="src/Utils.js" />
    <js-module name="LoggerFactory" src="src/LoggerFactory.js" />
    <js-module name="EventEmitter" src="src/EventEmitter.js" />
    <js-module name="Constants" src="src/Constants.js" />
    <js-module name="Exceptions" src="src/Exceptions.js" />
    <js-module name="Timers" src="src/Timers.js" />
    <js-module name="Transport" src="src/Transport.js" />
    <js-module name="Parser" src="src/Parser.js" />
    <js-module name="SIPMessage" src="src/SIPMessage.js" />
    <js-module name="URI" src="src/URI.js" />
    <js-module name="NameAddrHeader" src="src/NameAddrHeader.js" />
    <js-module name="Transactions" src="src/Transactions.js" />
    <js-module name="Dialog/RequestSender" src="src/Dialog/RequestSender.js" />
    <js-module name="Dialogs" src="src/Dialogs.js" />
    <js-module name="RequestSender" src="src/RequestSender.js" />
    <js-module name="RegisterContext" src="src/RegisterContext.js" />
    <js-module name="MediaHandler" src="src/MediaHandler.js" />
    <js-module name="ClientContext" src="src/ClientContext.js" />
    <js-module name="ServerContext" src="src/ServerContext.js" />
    <js-module name="Session/DTMF" src="src/Session/DTMF.js" />
    <js-module name="Session" src="src/Session.js" />
    <js-module name="Subscription" src="src/Subscription.js" />
    <js-module name="WebRTC/MediaHandler" src="src/WebRTC/MediaHandler.js" />
    <js-module name="WebRTC/MediaStreamManager" src="src/WebRTC/MediaStreamManager.js" />
    <js-module name="WebRTC" src="src/WebRTC.js" />
    <js-module name="UA" src="src/UA.js" />
    <js-module name="Hacks" src="src/Hacks.js" />
    <js-module name="SanityCheck" src="src/SanityCheck.js" />
    <js-module name="DigestAuthentication" src="src/DigestAuthentication.js" />
    <js-module name="Grammar/dist/Grammar" src="src/Grammar/dist/Grammar.js" />
</plugin>
