<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.sipjs" version="0.6.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>sip.js</name>
    <!--
      Using src/SIP.js has issues with require('../package.json')
      TODO fix this?
    -->
    <js-module name="sipjs" src="dist/sip.js" />
</plugin>
